<% @omit_header = true %>

<% content_for :after_header do %>
  <header role="banner" id="global-header" class="<%= yield(:header_class) %>">
    <div class="header-wrapper">
      <div class="header-global">
        <div class="header-logo">
          <a href="/" title="Go to the homepage" id="logo" class="content">Government Digital Service</a>
        </div>
        <div class="header-app-name">
          <%= config_item(:app_title) %>
        </div>
        <div id="log-in-out">
          <%= yield :log_in_out %>
        </div>
        <%= yield :inside_header %>
      </div>
    </div>
  </header>
<% end %>

<%= render template: "layouts/moj_internal_template" %>
